body{
	margin: 0px;
	padding: 0px;
}
.page-1 {
	margin: 0px;
	padding: 0px;
    width: 1351px;
    position: relative;
    height: 674px;
    background-image: url(shaadi_background.jpg);*/
    background-repeat: no-repeat;
    background-size: 1351px;
}
.logo {
	position: absolute;
	left: 205px;
	top: 18px;
}
.register {
    left: 815px;
    position: absolute;
    width: 485px;
    height: 580px;
    background-color: white;
    top: 50px;
}
.nav {
	position: absolute;
	background-color: #d9475c;
	height: 82px;
	width: 100%;
	color: white;
	text-align: center;
	font-family: sans-serif;
}
.nav p {
    position: absolute;
    font-size: 27px;
    left: 102px;
    letter-spacing: 2px;
    top: 17px;
    margin: 0px;
    font-weight: bold;
}
.nav span {
    top: 53px;
    position: absolute;
    font-size: 15px;
    font-family: sans-serif;
    left: 134px;
    margin: 0px;
    padding: 0px;
}
form {
    position: absolute;
    margin: 0px;
    padding: 0px;
}
form p {
	display: inline-block;
}
a {
    font-size: 12px;
    font-family: cursive;
    position: absolute;
    width: 80px;
    left: 376px;
    top: 94px;
    text-decoration: none;
}
.email {
    display: inline-block;
    position: absolute;
    top: 139px;
    margin: 0px;
    padding: 0px;
    left: 25px;
    font-size: 12px;
    font-family: cursive;
}
input[type="email"] {
    position: absolute;
    width: 300px;
    left: 153px;
    top: 129px;
    height: 27px;
    padding: 0px;
    margin: 0px;
}
.password {
    display: inline-block;
    position: absolute;
    top: 174px;
    margin: 0px;
    padding: 0px;
    left: 25px;
    font-family: cursive;
    font-size: 12px;
}

input[type="Password"] {
    position: absolute;
    top: 163px;
    margin-top: 8px;
    padding: 0px;
    width: 300px;
    height: 27px;
    left: 153px;
}
.select {
    position: absolute;
    margin-top: 8px;
    padding: 0px;
    width: 105px;
    top: 209px;
    left: 25px;
    font-family: cursive;
    font-size: 12px;
}
select {
    position: absolute;
    top: 198px;
    margin-top: 16px;
    padding: 0px;
    display: inline-block;
    height: 30px;
    width: 304px;
    left: 153px;
    font-family: cursive;
}
.date {
    display: inline-block;
    position: absolute;
    top: 248px;
    width: 83px;
    font-size: 12px;
    font-family: cursive;
    left: 25px;
}
input[type="Date"] {
    position: absolute;
    top: 237px;
    margin-top: 20px;
    height: 27px;
    width: 300px;
    left: 153px;
}
.height {
    position: absolute;
    top: 308px;
    font-size: 12px;
    font-family: cursive;
    left: 25px;
    margin: 0px;
}
select#s1 {
    top: 273px;
    margin-top: 30px;
}
.select1 {
    position: absolute;
    top: 347px;
    width: 87px;
    font-size: 12px;
    font-family: cursive;
    left: 25px;
    margin: 0px;
}
select#s2 {
    top: 332px;
}
select#s3 {
    top: 377px
}
.mother-tongue {
    position: absolute;
    width: 99px;
    top: 383px;
    font-size: 12px;
    font-family: cursive;
    left: 25px;
}
select#s4 {
    top: 420px;
}
.religion {
    font-size: 12px;
    font-family: cursive;
    top: 440px;
    position: absolute;
    margin: 0;
    left: 25px;
}
select#s5 {
    top: 465px;
}

.city {
    position: absolute;
    top: 486px;
    margin: 0px;
    font-size: 12px;
    font-family: cursive;
    left: 25px;
}
button {
    position: absolute;
    top: 525px;
    height: 40px;
    width: 100px;
    background-color: #ff9934;
    left: 357px;
    border-radius: 10px;
}
input[type="checkbox"] {
    position: absolute;
    top: 530px;
    left: 25px;
}
.terms {
    position: absolute;
    font-size: 12px;
    font-family: cursive;
    top: 517px;
    display: inline-block;
    width: 240px;
    left: 46px;
}
span.color {
    color: blue;
}
.page-2 {
    position: relative;
    width: 1351px;
    height: 519px;
    margin: 0px;
    padding: 0px;
}
.page-2 p {
    position: absolute;
    font-size: 30px;
    font-family: cursive;
    color: #ff5a60;
    margin: 0px;
    padding: 0px;
    top: 70px;
    left: 463px;
}
.contents {
	position: relative;
}

.contents ul {
	position: relative;
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}
.contents ul li {
	box-sizing: border-box;
    text-align: center;
    display: inline-block;
    width: 280px;
    height: 270px;
    left: 234px;
    position: relative;
    top: 170px;
    padding-left: 50px;
}
.contents ul li p {
    left: 37px;
    position: absolute;
    font-size: 13px;
    color: black;
    top: 235px;
    width: 280px;
    padding-left: 50px;
    padding: 0px;
}
.contents ul li div {
    position: relative;
    height: 30px;
    width: 30px;
    color: #ff5a60;
    border-radius: 50%;
    left: 100px;
    top: -20px;
    background-color: white;
    padding-left: 11px;
    font-family: cursive;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0px;
}
.contents ul li span {
    position: relative;
    top: 25px;
    font-size: 25px;
    font-family: cursive;
    color: #00bcd5;
}
.contents ul li span:hover{
	text-decoration: underline;
}
.page-3{
	position: relative;
	height: 522px;
	width: 1352px;
	background-color: #eeeeee;
}
.page-3 p {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-family: cursive;
    color: #ff5a60;
    position: absolute;
    top: 53px;
    left: 504px;
}
.page-3 .contents1 {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 683px;
    height: 343px;
    background-color: #ffffff;
    top: 117px;
    left: 330px;
}
.page-3 .contents1 .photo1,.photo2,.photo3,.photo4,.photo5,.photo6{
	position: relative;
	display: inline-block;
	height: 169px;
	width: 225px;
	overflow: hidden;
}
.page-3 .contents1 .photo1,.photo2,.photo3,.photo4,.photo5,.photo6 img{
    transition: all 2s;
}
.page-3 .contents1 .photo1 div{
	display: inline-block;
	font-size: 12px;
	font-family: cursive;
	box-sizing: border-box;
	padding-top: 10px;
	top: 175px;
	text-align: center;
	height: 169px;
	width: 225px;
	transition: all 2s;
	position: absolute;
	background-color: #eeeeee;
    overflow: hidden;
}
.page-3 .photo1:hover .first{
	top: 0px;
	transition: all 2s;
	opacity: 0.8;
}
.photo1 img:hover {
    transition: all 1s;
    height: 180px;
    width: 240px;
}
.photo2 img:hover {
    transition: all 1s;
    height: 180px;
    width: 240px;
}
.photo3 img:hover {
    transition: all 1s;
    height: 180px;
    width: 240px;
}
.photo4 img:hover {
    transition: all 1s;
    height: 180px;
    width: 240px;
}
.photo5 img:hover {
    transition: all 1s;
    height: 180px;
    width: 240px;
}
.photo6 img:hover {
    transition: all 1s;
    height: 180px;
    width: 240px;
}
.page-3 .contents1 .photo2 div{
	display: inline-block;
	font-size: 12px;
	font-family: cursive;
	box-sizing: border-box;
	padding-top: 10px;
	top: 175px;
	text-align: center;
	height: 169px;
	width: 225px;
	transition: all 2s;
	position: absolute;
	background-color: #eeeeee;
}
.page-3 .photo2:hover .second{
	top: 0px;
	transition: all 2s;
	opacity: 0.8;
}
.page-3 .contents1 .photo3 div{
	display: inline-block;
	font-size: 12px;
	font-family: cursive;
	box-sizing: border-box;
	padding-top: 10px;
	top: 175px;
	text-align: center;
	height: 169px;
	width: 225px;
	transition: all 2s;
	position: absolute;
	background-color: #eeeeee;
}
.page-3 .photo3:hover .third{
	top: 0px;
	transition: all 2s;
	opacity: 0.8;
}
.page-3 .contents1 .photo4 div{
	display: inline-block;
	font-size: 12px;
	font-family: cursive;
	box-sizing: border-box;
	padding-top: 10px;
	top: 175px;
	text-align: center;
	height: 169px;
	width: 225px;
	transition: all 2s;
	position: absolute;
	background-color: #eeeeee;
}
.page-3 .photo4:hover .forth{
	top: 0px;
	transition: all 2s;
	opacity: 0.8;
}
.page-3 .contents1 .photo5 div{
	display: inline-block;
	font-size: 12px;
	font-family: cursive;
	box-sizing: border-box;
	padding-top: 10px;
	top: 175px;
	text-align: center;
	height: 169px;
	width: 225px;
	transition: all 2s;
	position: absolute;
	background-color: #eeeeee;
}
.page-3 .photo5:hover .fifth{
	top: 0px;
	transition: all 2s;
	opacity: 0.8;
}
.page-3 .contents1 .photo6 div{
	display: inline-block;
	font-size: 12px;
	font-family: cursive;
	box-sizing: border-box;
	padding-top: 10px;
	top: 175px;
	text-align: center;
	height: 169px;
	width: 225px;
	transition: all 2s;
	position: absolute;
	background-color: #eeeeee;
}
.page-3 .photo6:hover .sixth{
	top: 0px;
	transition: all 2s;
	opacity: 0.8;
}
.heading {
    width: 1351px;
    height: 78px;
    background-color: #ff5a60;
    position: -webkit-sticky;
    position: sticky;
    top:0px;
}
.heading p {
    margin: 0px;
    color: white;
    top: 25px;
    left: 455px;
    font-size: 25px;
    font-family: cursive;
    position: relative;
}
.heading div {
    top: -15px;
    left: 860px;
    border-radius: 4px;
    width: 125px;
    border: 2px solid white;
    background: transparent;
    color: white;
    height: 45px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
    font-family: cursive;
    position: relative;
    margin: 0;
}
.page-4 {
    position: relative;
	height: 372px;
	width: 1351px;
}
.contents4-1 p {
    position: absolute;
    font-size: 25px;
    font-family: cursive;
    color: #ff5a60;
    left: 445px;
    top: 55px;
    margin: 0px;
    padding: 0px;
    word-spacing: 10px;
    letter-spacing: 2px;
    z-index: -1;
}
.contents4-2 {
    margin: 0px;
    width: 681px;
    height: 125px;
    position: absolute;
    padding: 0px;
    top: 127px;
    left: 338px;
    z-index: -1;
}
.contents4-2 ul {
	list-style-type: none;
}
.contents4-2 ul li {
    font-family: cursive;
    height: 117px;
    width: 211px;
    font-size: 10px;
    display: inline-block;
    text-align: center;
}
.contents4-2 ul li:nth-child(2) {
	position: relative;
	top: -14px;
}
.contents4-2 ul li div{
	height: 1px ;
	width: 211px;
	background-color: #dfe0e3;
	margin-bottom: 20px;
}
.contents4-2 ul li:hover  span{
	text-decoration: underline;
}
.contents4-2 ul li span p {
	color: blue;
}
.footer {
    height: 75px;
    width: 1351px;
    background-color: #eeeeee;
    position: absolute;
    top: 293px;
    z-index: -1;
}
.footer .google {
    color: #ffffff;
    font-family: cursive;
    font-size: 10px;
    position: relative;
    height: 25px;
    width: 80px;
    background-color: #000000;
    top: -52px;
    left: 750px;
    text-align: center;
    padding-top: 1px;
    box-sizing: border-box;
    border-radius: 5px;
}
.footer .apple {
    text-align: center;
    color: #ffffff;
    padding-top: 5px;
    box-sizing: border-box;
    font-family: cursive;
    font-size: 10px;
    position: relative;
    height: 25px;
    width: 80px;
    background-color: #000000;
    top: -78px;
    left: 850px;
    border-radius: 5px;
}
.footer p {
    font-size: 25px;
    display: inline-block;
    font-family: cursive;
    position: relative;
    left: 507px;
    color: #ff5a60;
}
.page-5 {
	position: relative;
	height: 537px;
	width: 1351px;
}
.page-5 .logo {
    top: 24px;
    height: 57px;
    width: 57px;
    background-color: #ff5a60;
    border-radius: 5px;
    color: white;
    text-align: center;
    position: absolute;
    left: 648px;
}
.page-5 .logo p {
    font-size: 62px;
    position: relative;
    top: 4px;
    margin: 0px;
    padding: 0px;
}
.page-5 .contents5 div{
    display: inline-block;
    font-family: cursive;
    top: 100px;
    position: relative;
    left: 200px;
}
.page-5 .contents5 div:nth-child(2) {
    position: relative;
}